@model PosWebQLBH.ViewModels.Catalog.Products.ProductDeleteRequest

@{
    ViewData["Title"] = "Xóa Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Xóa Sản Phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
        <li class="breadcrumb-item active">Xóa SP</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách User</a>
        </div>

        <div class="card-body">
            <div class="col-md-14">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ID_Product) :
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ID_Product)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name_Product) :
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name_Product)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input asp-for="ID_Product" type="hidden" />
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>