@model PosWebQLBH.ViewModels.Catalog.Products.ProductUpdateRequest

@{
    ViewData["Title"] = "Xuất Kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Xuất Kho</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
        <li class="breadcrumb-item active">Xuất kho</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="ShowStock" asp-controller="Product">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="SellStock" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ID_Product" class="control-label"></label>
                        <input asp-for="ID_Product" class="form-control" />
                        <span asp-validation-for="ID_Product" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" type="number" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>

                    <br />
                    <div class="form-group">
                        <input type="submit" value="Xuất" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>